<p id="notice"><%= notice %></p>

<p>
  <b>P1:</b>
  <%= @val.p1 %>
</p>

<p>
  <b>P2:</b>
  <%= @val.p2 %>
</p>

<p>
  <b>P3:</b>
  <%= @val.p3 %>
</p>

<p>
  <b>P4:</b>
  <%= @val.p4 %>
</p>

<p>
  <b>P5:</b>
  <%= @val.p5 %>
</p>


<%= link_to 'Edit', edit_val_path(@val) %> |
<%= link_to 'Back', vals_path %>
